@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: url(https://free4kwallpapers.com/uploads/originals/2017/06/21/sad-summer-rain-wallpaper.jpg);
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    color: white;
    font-size: 17px;
    font-family: 'Merriweather', serif;

}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}

.container .btn-menu label{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.logo h1{
    color:white;
    font-weight: 400;
    font-size: 25px;
    margin-left: 15px;
}

.container .menu{
    float: right;
    line-height: 100px;
}

.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color:#ceb8eb;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #a4a3a5;
    padding-bottom: 5px;
}

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 120vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #ffffff;
    background: #746c83;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #ceb8eb;
    cursor: pointer;
    font-size: 18px;
}

.seccion {
    text-align: center;
    margin-top: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.seccion h3{
    margin-top: 10px;
}

.contenido{
    text-align: center;
    margin-top: 100px;
    width: 650px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid #ceb8eb;
}


.contenido h2{
    margin-bottom: 10px;
}

.contenido img{
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 7px 7px 15px #592A08; 

}

.division {
    text-align: center;
    margin-top: 100px;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid #ceb8eb;
}
.division ol li{
    margin-top: 10px; 
    list-style: none;
    text-align: justify;
    font-size: 20px;
}
.division h2{
    margin-bottom: 50px;
}

.unico{
    text-align: center;
    margin-top: 100px;
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid #ceb8eb;
}
.unico h2{
    margin-bottom: 15px;
}

.personality {
    text-align: center;
    margin-top: 100px;
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid #ceb8eb;
}
.personality img{
    width: 95%;
    margin-top: 15px;
    box-shadow: 7px 7px 15px #592A08; 
    border-radius: 15px;
}
.Grafico {
    text-align: center;
    margin-top: 100px;
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid #ceb8eb;
}
.Grafico img{
    width: 100%;
    margin-top: 15px;
    box-shadow: 7px 7px 15px #592A08; 
    border-radius: 15px;
}
.curso{
    text-align: center;
    margin-top: 100px;
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid #ceb8eb;
}
.curso h2{
    margin-bottom: 15px;
}
.agrade{
    text-align: center;
    margin-top: 100px;
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid #ceb8eb;
}
.agrade img{
    width: 100%;
    margin-top: 15px;
    box-shadow: 7px 7px 15px #592A08; 
    border-radius: 15px;
}
.agrade p{
    margin-top: 25px;
}
.icon{
    color:white;
}
.icontw{
    color: white;
}